<div ng-controller="DropDownController">
    <div class="dropdown">
        <button id = "ddmenu" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Directory
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="page">
            <li ng-class="{'active': $location.url()=='/roster'}" class="top-element">
                <a href="#/roster" ng-click="dropboxitemselected('Roster')">Roster</a>
            </li>

            <li ng-class="{'active': $location.url()=='/games'}" class="top-element">
                <a href="#/games" ng-click="dropboxitemselected('Schedule')">Schedule</a>
            </li>

            <li ng-class="{'active': $location.url()=='/search'}" class="top-element">
                <a href="#/search" ng-click="dropboxitemselected('Search')">Simple search example for now</a>
            </li>

            <li ng-show="currentUser.roles.indexOf('editor') > -1"
                ng-class="{'active': $location.url()=='/editor'}"
                class="bottom-element">
                <a href="#/editor" ng-click="dropboxitemselected('Editor')">Editor</a>
            </li>

            <a ng-click="dropboxitemselected(a)">{{a}}</a>
        </ul>
    </div>
</div>