<div>
    <label class="col-sm-2 control-label devils-red-text">Favorite Player: </label>
    <div class="dropdown col-sm-5 bottomspacing">
        <button id="ddmenu" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {{Profile.display.favoritePlayer}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="page">
            <li ng-repeat="player in Profile.players" ng-class="{'active': Profile.dropdownitemselected==player.name}"
                {{player.name}}
            <li ng-repeat="player in Profile.players" ng-class="{'active': Profile.dropdownitemselected==player.name}"
                class="top-element">
                <a ng-click="Profile.dropboxitemselected(player.name)">{{player.name}}</a>
            </li>
        </ul>
    </div>
</div>