<body>
<h1 class="devils-red-text">Profile</h1>
<form class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label devils-red-text">Username:</label>
        <div class="col-sm-5">
            <input ng-model="Profile.display.username" type="text" class="form-control" id="username"
                   placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label devils-red-text">Password:</label>
        <div class="col-sm-5">
            <input ng-model="Profile.display.password" type="password" class="form-control" id="password"
                   placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label devils-red-text">First Name:</label>
        <div class="col-sm-5">
            <input ng-model="Profile.display.firstName" type="text" class="form-control" id="firstName"
                   placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label devils-red-text">Last Name:</label>
        <div class="col-sm-5">
            <input ng-model="Profile.display.lastName" type="text" class="form-control" id="lastName"
                   placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label devils-red-text">Current Emails:</label>
        <div class="col-sm-5">
            <div class="devils-red-text" ng-repeat="email in Profile.display.emails">
                {{email}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label devils-red-text">Role:</label>
        <div class="col-sm-5">
            <div class="devils-red-text" ng-repeat="role in Profile.display.roles">
                {{role}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label devils-red-text">Add Email:</label>
        <div class="col-sm-5">
            <input ng-model="Profile.display.newEmail" type="email" class="form-control" id="email"
                   placeholder="Email Address">
        </div>
    </div>

    <div class="form-group">
        <div ng-include="'./views/users/playerDropDown.view.html'"></div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <a class="btn btn-primary btn-block" ng-click="Profile.updateUser(currentUser)" role="button">Update</a>
        </div>
    </div>


    <div ng-show="Profile.message" class="alert alert-warning">
        {{Profile.message}}
    </div>
</form>
</body>