<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li>
                <a class="navbar-brand" href="#/home" ng-click="dropDown('Home')">New Jersey Devils Fanpage</a>
            </li>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <div ng-include="'./views/dropdown/dropdown.view.html'"></div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="currentUser">
                    <a id="logout" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>