.right-justified{
    text-align: right;
}

.centered{
    text-align: center;
}

#logout {
    cursor: pointer;
}

.devils-red-back {
     background-color: #b92c28;
     color: #FFFFFF;
 }

.devils-red-text {
    color: #b92c28;
}

.table-white{
    background-color: #FFFFFF;
}

.devils-black{
    background-color: #000000;
}

#navbar, .navbar-brand, .dropdown-toggle,
.container-fluid{
    background-color: #111617;
}

.border-left-black, .border-right-black{
    border-left-color: #000000;
}

.col-xs-offset-half {
    margin-left: 4.13333333%;
}