<div ng-controller="DropDownController">
    <div class="dropdown">
        <button id = "ddmenu" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Directory
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="page">
            <li ng-class="{'active': $location.url()=='/roster'}" class="top-element">
                <a href="#/roster" ng-click="dropboxitemselected('Roster')">Roster</a>
            </li>

            <li ng-class="{'active': $location.url()=='/roster'}" class="top-element">
                <a href="#/player" ng-click="dropboxitemselected('Player')">Single Player Example</a>
            </li>


            <li ng-hide="currentUser"
                ng-class="{'active': $location.url()=='/register'}">
                <a href="#/register" ng-click="dropboxitemselected('Register')">Register</a>
            </li>

            <li ng-hide="currentUser"
                ng-class="{'active': $location.url()=='/login'}"
                class="bottom-element">
                <a href="#/login" ng-click="dropboxitemselected('Login')">Login</a>
            </li>

            <li ng-show="currentUser"
                ng-class="{'active': $location.url()=='/profile'}">
                <a href="#/profile" ng-click="dropboxitemselected('Profile')">My Profile</a>
            </li>

            <li ng-show="currentUser.roles.indexOf('editor') > -1"
                ng-class="{'active': $location.url()=='/editor'}"
                class="bottom-element">
                <a href="#/editor" ng-click="dropboxitemselected('Editor')">Editor</a>
            </li>

            <a ng-click="dropboxitemselected(a)">{{a}}</a>
        </ul>
    </div>
</div>