<h1>Fields</h1>
<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{'active': $location.url()=='/forms'}"><a ng-click="displayForms()" id="forms-tab"
                                                                                role="tab" data-toggle="tab"
                                                                                aria-controls="forms"
                                                                                aria-expanded="true">Forms</a></li>
    <li role="presentation" ng-class="{'active': true}"><a ng-click="displayFields()"
                                                           role="tab"
                                                           id="fields-tab"
                                                           data-toggle="tab"
                                                           aria-controls="fields">Fields</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div role="formspanel" class="tab-pane fade in active" id="fields" aria-labelledby="fields-tab">
        <div class="table-responsive">
            <div class="form-group col-sm-11">
                <div ng-include="'./views/forms/switchStatement.view.html'"></div>
                <div ng-include="'./views/forms/addNewField.view.html'"></div>
            </div>
        </div>
    </div>
</div>
