<head>
    <title>Home</title>
</head>

<body>

<h1 class="devils-red-text centered">   Welcome to my Devils Fanpage!</h1>
<p  class="devils-red-text centered">   This is a website that I created for my Web Development class.
    This site polled the NHL API up until the end of the class (which is open but difficult to find) in order to fill in the stats and videos for every player.
    A lof of deferred calls are needed in order to populate and load all
of the videos for each game and player, hence the slight delay for them to show up.
    This site was created with the MEAN stack and all of the code for it can be found on my github.</p>

</body>