<head>
    <title>Home</title>
</head>

<body>

<h1 class="devils-red-text centered">Welcome to my Devils Fanpage!</h1>
<p class="devils-red-text centered"> This is my Project POC stage, this homepage will become much more robust/pretty as I keep working</p>
<p class="devils-red-text centered"> This is an example of embedded highlights which the API provides (a goal picked from a specific game)</p>

<video class="col-xs-offset-half" height="600" width = "1000" controls>
    <source ng-src="http://smb.cdnak.nyc.neulion.net/u/nhlmobile/vod/nhl/2016/01/08/608/2_608_bos_njd_1516_h_discrete_n.j330_goal_1_1600.mp4?eid=922132&pid=923045&gid=3000&pt=1"  allowfullscreen="true"/>
</video>

</body>