<section class="searchField">
    <input type="text" ng-model="searchTerm">
    <button type="button" ng-click="search()">Search</button>
</section>

<section class="devils-red-text" ng-show="!resultsHidden">
    <div class="no-recipes" ng-hide="players.length">No results</div>
    <article class="playerSearch" ng-repeat="player in players | filter: filterPlayers" ng-cloak>
        <h2 class="devils-red-text">
            <a href="#/players/{{player._id}}">{{player.name}}</a>
        </h2>
    </article>
</section>